In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Read all four output files

classifier = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2018/cl_output_2018.csv'))
classifier = classifier.drop(['Unnamed: 0'], axis=1)

svm = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2018/svm_output_2018.csv'))
svm = svm.drop(['Unnamed: 0'], axis=1)

rnf = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2018/rnf_output_2018.csv'))
rnf = rnf.drop(['Unnamed: 0'], axis=1)

nn = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2018/nn_output_2018.csv'))
nn = nn.drop(['Unnamed: 0'], axis=1)

In [3]:
# Merge all 4 files on result ID
output_2018 = pd.merge(classifier, svm, how='left', on=['resultId'])

In [4]:
output_2018 = pd.merge(output_2018, rnf, how='left', on=['resultId'])

In [5]:
output_2018 = pd.merge(output_2018, nn, how='left', on=['resultId'])
output_2018.head()

,resultId,name,driverRef,constructorRef,Outcome,Bin,CL_Outcome,CL_Bin,SVM_Outcome,SVM_Bin,RNF_Outcome,RNF_Bin,NN_Outcome,NN_Bin
0,23782,Australian Grand Prix,vettel,ferrari,1,1,3,1,5,2,3,1,2,1
1,23783,Australian Grand Prix,hamilton,mercedes,2,1,1,1,1,1,2,1,1,1
2,23784,Australian Grand Prix,raikkonen,ferrari,3,1,2,1,4,2,1,1,3,1
3,23785,Australian Grand Prix,ricciardo,red_bull,4,2,8,3,16,4,4,2,5,2
4,23786,Australian Grand Prix,alonso,mclaren,5,2,9,3,3,1,5,2,6,2

In [6]:
# Extract CSV file
output_2018.to_csv('../../../Resources/PythonExport/ML_Export/2018/output_2018.csv')