In [1]:
import pandas as pd
import psycopg2
from config import *

In [2]:
conn = psycopg2.connect(
   database=DATABASE, user=USER, password=PASSWORD, host=HOST, port= PORT
)

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("Select * FROM races LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url']

In [5]:
cursor.execute("SELECT * FROM races")
data = cursor.fetchall()
race_df = pd.DataFrame(data, columns=colnames)
race_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [6]:
cursor.execute("Select * FROM results LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['resultId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionText',
 'positionOrder',
 'points',
 'laps',
 'time',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'statusId']

In [7]:
cursor.execute("SELECT * FROM results")
data = cursor.fetchall()
results_df = pd.DataFrame(data, columns=colnames)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
raceresults_df = results_df.merge(race_df,left_on='raceId',right_on='raceId',how='left')

In [9]:
raceresults_df = raceresults_df.dropna().reset_index()

In [10]:
raceresults_df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name,date,time_y,url
0,0,1,18,1,1,22,1,1,1,1,...,1:27.452,218.300,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
1,1,2,18,2,2,3,5,2,2,2,...,1:27.739,217.586,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
2,2,3,18,3,3,7,7,3,3,3,...,1:28.090,216.719,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
3,3,4,18,4,4,5,11,4,4,4,...,1:28.603,215.464,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
4,4,5,18,5,1,23,3,5,5,5,...,1:27.418,218.385,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...

In [11]:
file_path = "../Resources/PythonExport/weather.csv"
weather_df = pd.read_csv(file_path)
weather_df.head()

,Unnamed: 0,raceId,year,round,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,2009,1,Sunny with temperatures reaching up to 27 °C (...,1,0,0,0,0
1,1,2,2009,2,"Dry start, with heavy rain and thunderstorm/mo...",0,0,1,1,0
2,2,3,2009,3,Rain,0,0,0,1,0
3,3,4,2009,4,Sunny,1,0,0,0,0
4,4,5,2009,5,"Warm, Sunny",1,0,0,0,0

In [12]:
df = raceresults_df.merge(weather_df,left_on='raceId',right_on='raceId',how='left')
df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,url,Unnamed: 0,year_y,round_y,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,18,1,1,22,1,1,1,1,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
1,1,2,18,2,2,3,5,2,2,2,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
2,2,3,18,3,3,7,7,3,3,3,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
3,3,4,18,4,4,5,11,4,4,4,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
4,4,5,18,5,1,23,3,5,5,5,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0

In [13]:
df.drop(columns=['index','resultId','raceId','url','time_y','date','round_y','position','positionText','number','points','laps','time_x','milliseconds','fastestLap','rank','year_y','Unnamed: 0','weather','round_x','name','fastestLapSpeed','fastestLapTime'],inplace=True)

In [14]:
df

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1,1,1,1,1,2008,1,1,0,0,0,0
1,2,2,5,2,1,2008,1,1,0,0,0,0
2,3,3,7,3,1,2008,1,1,0,0,0,0
3,4,4,11,4,1,2008,1,1,0,0,0,0
4,5,1,3,5,1,2008,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25035,849,3,19,16,11,2021,4,0,0,0,0,1
25036,4,214,10,17,11,2021,4,0,0,0,0,1
25037,854,210,18,18,12,2021,4,0,0,0,0,1
25038,853,210,20,19,12,2021,4,0,0,0,0,1
25039,852,213,16,20,10,2021,4,0,0,0,0,1

In [15]:
df.dtypes

driverId          int64
constructorId     int64
grid              int64
positionOrder     int64
statusId          int64
year_x            int64
circuitId         int64
weather_warm      int64
weather_cold      int64
weather_dry       int64
weather_wet       int64
weather_cloudy    int64
dtype: object

In [16]:
# We will finish all the statuses where drivers finish the race to 2
replace = {
    11:2, 12:2, 13:2, 14:2, 15:2, 16:2, 17:2, 18:2, 19:2, 45:2, 50:2, 128:2, 53:2, 55:2, 58:2, 
    88:2, 111:2, 112:2, 113:2, 114:2, 115:2, 116:2, 117:2, 118:2, 119:2, 120:2, 122:2, 123:2, 124:2, 
    125:2, 127:2, 133:2, 134:2  
}
df["statusId"] = df["statusId"].replace(replace)

In [17]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
def change_status(x):
    if x == 1:
        return 1
    elif x == 2:
        return 2
    else:
        return 3
    
df["statusId"] = df["statusId"].apply(change_status)
df.tail(10)

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
25030,840,117,11,11,2,2021,4,0,0,0,0,1
25031,8,51,17,12,2,2021,4,0,0,0,0,1
25032,20,117,13,13,2,2021,4,0,0,0,0,1
25033,847,3,15,14,2,2021,4,0,0,0,0,1
25034,841,51,14,15,2,2021,4,0,0,0,0,1
25035,849,3,19,16,2,2021,4,0,0,0,0,1
25036,4,214,10,17,2,2021,4,0,0,0,0,1
25037,854,210,18,18,2,2021,4,0,0,0,0,1
25038,853,210,20,19,2,2021,4,0,0,0,0,1
25039,852,213,16,20,3,2021,4,0,0,0,0,1

In [18]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.statusId.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['statusId'])
encode_df.head()

   statusId_1  statusId_2  statusId_3
0         1.0         0.0         0.0
1         1.0         0.0         0.0
2         1.0         0.0         0.0
3         1.0         0.0         0.0
4         1.0         0.0         0.0

In [19]:
df = df.merge(encode_df,left_index=True,right_index=True).drop("statusId",1)

In [20]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.grid.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['grid'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("grid",1)

In [21]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.driverId.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['driverId'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("driverId",1)

In [22]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.constructorId.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['constructorId'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("constructorId",1)

In [23]:
# df.head()
circuitId = df[df['year_x']==2019]['circuitId']
circuitId_df = circuitId.to_frame().reset_index().drop(columns=['index'])

In [24]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.circuitId.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['circuitId'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("circuitId",1)

In [25]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
podium = [1,2,3]
def change_order(x):
    if x == 1:
        return 1
    else:
        return 0

def podium_order(x):
    if x in podium:
        return x
    else:
        return 0
df["podium"] = df["positionOrder"].apply(podium_order)    
df["positionOrder"] = df["positionOrder"].apply(change_order)

df.head(10)

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,podium
0,1,1,1,1,2008,1,1,0,0,0,0,1.0,0.0,0.0,1
1,2,2,5,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,2
2,3,3,7,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,3
3,4,4,11,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,0
4,5,1,3,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,0
5,6,3,13,0,2008,1,1,0,0,0,0,0.0,1.0,0.0,0
6,7,5,17,0,2008,1,1,0,0,0,0,0.0,0.0,1.0,0
7,8,6,15,0,2008,1,1,0,0,0,0,0.0,0.0,1.0,0
8,9,2,2,0,2008,1,1,0,0,0,0,0.0,0.0,1.0,0
9,10,7,18,0,2008,1,1,0,0,0,0,0.0,0.0,1.0,0

In [26]:
import sklearn as skl
from sklearn import preprocessing
X_scaler = skl.preprocessing.StandardScaler()

In [27]:
df_train = df[(df['year_x']<=2018) & (df['year_x']>=2000)]
df_test = df[df['year_x']==2019]

In [28]:
df_train

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,podium
0,1,1,1,1,2008,1,1,0,0,0,0,1.0,0.0,0.0,1
1,2,2,5,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,2
2,3,3,7,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,3
3,4,4,11,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,0
4,5,1,3,0,2008,1,1,0,0,0,0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24192,842,5,17,0,2018,24,0,0,0,0,0,0.0,0.0,1.0,0
24193,839,10,9,0,2018,24,0,0,0,0,0,0.0,0.0,1.0,0
24194,828,15,12,0,2018,24,0,0,0,0,0,0.0,0.0,1.0,0
24195,8,6,4,0,2018,24,0,0,0,0,0,0.0,0.0,1.0,0
24196,807,4,10,0,2018,24,0,0,0,0,0,0.0,0.0,1.0,0

In [29]:
y_train= df_train['positionOrder']
y_test= df_test['positionOrder']
X_train = df_train.drop(columns=['positionOrder','podium'])
# .drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])
X_test = df_test.drop(columns=['positionOrder','podium'])
# X_test = df_test.drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])

In [30]:
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
X_test_scaled

array([[ 1.68523359,  1.49634508, -1.46612311, ...,  1.15496929,
        -0.67795821, -0.58758777],
       [-0.66362615,  1.49634508, -1.62545438, ...,  1.15496929,
        -0.67795821, -0.58758777],
       [ 1.70812139, -0.41446054, -1.14746058, ...,  1.15496929,
        -0.67795821, -0.58758777],
       ...,
       [ 1.74245308, -0.4771099 , -0.03214169, ..., -0.86582389,
         1.47501718, -0.58758777],
       [-0.64073836, -0.50843458,  1.24250846, ..., -0.86582389,
         1.47501718, -0.58758777],
       [ 1.73673113,  2.74933237,  0.12718958, ..., -0.86582389,
        -0.67795821,  1.7018734 ]])

In [32]:
from sklearn.svm import SVC
model = SVC(kernel='poly',probability=True)

In [33]:
# Fit the data
model.fit(X_train_scaled, y_train)

SVC(kernel='poly', probability=True)

In [34]:
predictions = model.predict_proba(X_test_scaled)
predictions
# test = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
# test

array([[9.87444084e-01, 1.25559165e-02],
       [7.59044862e-01, 2.40955138e-01],
       [9.23857796e-01, 7.61422037e-02],
       [9.39132791e-01, 6.08672092e-02],
       [9.22452876e-01, 7.75471242e-02],
       [9.99702907e-01, 2.97093093e-04],
       [9.47866138e-01, 5.21338621e-02],
       [9.80345433e-01, 1.96545669e-02],
       [9.98018639e-01, 1.98136068e-03],
       [9.53419784e-01, 4.65802161e-02],
       [9.63570519e-01, 3.64294805e-02],
       [9.48153760e-01, 5.18462405e-02],
       [9.99223483e-01, 7.76516983e-04],
       [9.48309573e-01, 5.16904266e-02],
       [9.76205853e-01, 2.37941471e-02],
       [9.71290586e-01, 2.87094139e-02],
       [9.69416941e-01, 3.05830590e-02],
       [9.93421477e-01, 6.57852259e-03],
       [9.50072067e-01, 4.99279325e-02],
       [9.67241479e-01, 3.27585214e-02],
       [9.06002803e-01, 9.39971968e-02],
       [9.91806443e-01, 8.19355655e-03],
       [9.18953101e-01, 8.10468994e-02],
       [9.40079360e-01, 5.99206397e-02],
       [9.26025797e-01, 7.39742029e-02],
       [9.36812563e-01, 6.31874370e-02],
       [9.71617864e-01, 2.83821357e-02],
       [9.39824717e-01, 6.01752826e-02],
       [9.36979825e-01, 6.30201753e-02],
       [9.99653960e-01, 3.46039611e-04],
       [9.66090826e-01, 3.39091738e-02],
       [9.51015702e-01, 4.89842976e-02],
       [9.99645832e-01, 3.54167825e-04],
       [9.98270949e-01, 1.72905089e-03],
       [9.65608996e-01, 3.43910042e-02],
       [9.59366915e-01, 4.06330848e-02],
       [9.61590537e-01, 3.84094627e-02],
       [9.52333733e-01, 4.76662674e-02],
       [9.52593621e-01, 4.74063792e-02],
       [9.97688172e-01, 2.31182831e-03],
       [4.66563290e-01, 5.33436710e-01],
       [9.47721251e-01, 5.22787492e-02],
       [9.29481561e-01, 7.05184395e-02],
       [9.28948675e-01, 7.10513254e-02],
       [9.23822447e-01, 7.61775530e-02],
       [9.30354241e-01, 6.96457589e-02],
       [9.68822003e-01, 3.11779972e-02],
       [9.99113119e-01, 8.86880941e-04],
       [9.76350514e-01, 2.36494862e-02],
       [9.82689779e-01, 1.73102206e-02],
       [9.90267323e-01, 9.73267675e-03],
       [9.98891209e-01, 1.10879099e-03],
       [9.99220875e-01, 7.79124701e-04],
       [9.52361078e-01, 4.76389218e-02],
       [9.77816209e-01, 2.21837907e-02],
       [9.57165647e-01, 4.28343534e-02],
       [9.70544480e-01, 2.94555195e-02],
       [9.46958348e-01, 5.30416520e-02],
       [9.57208690e-01, 4.27913104e-02],
       [9.66710047e-01, 3.32899534e-02],
       [6.07316289e-01, 3.92683711e-01],
       [2.73900712e-02, 9.72609929e-01],
       [9.58469905e-01, 4.15300947e-02],
       [9.49210959e-01, 5.07890408e-02],
       [9.70559717e-01, 2.94402833e-02],
       [9.99130134e-01, 8.69866359e-04],
       [9.74168335e-01, 2.58316646e-02],
       [9.69260568e-01, 3.07394322e-02],
       [9.99998534e-01, 1.46624411e-06],
       [6.30485950e-01, 3.69514050e-01],
       [9.80607972e-01, 1.93920282e-02],
       [9.87826876e-01, 1.21731241e-02],
       [9.99970245e-01, 2.97552340e-05],
       [9.74089904e-01, 2.59100958e-02],
       [9.67631877e-01, 3.23681228e-02],
       [9.67425013e-01, 3.25749870e-02],
       [9.98488127e-01, 1.51187325e-03],
       [9.99985533e-01, 1.44665285e-05],
       [9.97361263e-01, 2.63873682e-03],
       [9.94929356e-01, 5.07064417e-03],
       [7.82581815e-01, 2.17418185e-01],
       [9.80053925e-01, 1.99460753e-02],
       [9.24867540e-01, 7.51324597e-02],
       [9.37586417e-01, 6.24135829e-02],
       [9.24021638e-01, 7.59783617e-02],
       [9.28624833e-01, 7.13751673e-02],
       [9.99701648e-01, 2.98352006e-04],
       [9.21652712e-01, 7.83472884e-02],
       [9.27733814e-01, 7.22661857e-02],
       [9.91744295e-01, 8.25570519e-03],
       [9.24646167e-01, 7.53538333e-02],
       [9.26300723e-01, 7.36992765e-02],
       [8.95235539e-01, 1.04764461e-01],
       [9.72737983e-01, 2.72620170e-02],
       [9.99719477e-01, 2.80523309e-04],
       [9.61892875e-01, 3.81071251e-02],
       [9.70347311e-01, 2.96526895e-02],
       [9.64362024e-01, 3.56379760e-02],
       [9.98282338e-01, 1.71766154e-03],
       [9.48987122e-01, 5.10128777e-02],
       [1.43238584e-02, 9.85676142e-01],
       [9.43873994e-01, 5.61260065e-02],
       [8.70101307e-01, 1.29898693e-01],
       [9.22118996e-01, 7.78810038e-02],
       [9.54749196e-01, 4.52508041e-02],
       [9.61185797e-01, 3.88142025e-02],
       [9.55352573e-01, 4.46474273e-02],
       [9.58870998e-01, 4.11290024e-02],
       [9.52794084e-01, 4.72059160e-02],
       [9.96656738e-01, 3.34326226e-03],
       [9.59963921e-01, 4.00360789e-02],
       [9.99771189e-01, 2.28811057e-04],
       [9.99940312e-01, 5.96884446e-05],
       [9.61278832e-01, 3.87211677e-02],
       [9.46474908e-01, 5.35250919e-02],
       [9.99947046e-01, 5.29543053e-05],
       [9.56968081e-01, 4.30319195e-02],
       [9.65420069e-01, 3.45799306e-02],
       [9.67198195e-01, 3.28018054e-02],
       [9.68785748e-01, 3.12142518e-02],
       [7.19883428e-01, 2.80116572e-01],
       [9.04456774e-01, 9.55432256e-02],
       [9.18519417e-01, 8.14805832e-02],
       [9.91151103e-01, 8.84889708e-03],
       [9.31970811e-01, 6.80291888e-02],
       [9.69551747e-01, 3.04482531e-02],
       [9.61949104e-01, 3.80508961e-02],
       [9.69583306e-01, 3.04166938e-02],
       [9.98104789e-01, 1.89521092e-03],
       [9.55091839e-01, 4.49081613e-02],
       [9.49838673e-01, 5.01613272e-02],
       [9.98478257e-01, 1.52174287e-03],
       [9.77158216e-01, 2.28417844e-02],
       [9.93569115e-01, 6.43088460e-03],
       [9.77134833e-01, 2.28651675e-02],
       [9.64241993e-01, 3.57580071e-02],
       [9.99231964e-01, 7.68036481e-04],
       [9.68557874e-01, 3.14421262e-02],
       [9.51051625e-01, 4.89483753e-02],
       [9.56296297e-01, 4.37037031e-02],
       [1.33977891e-01, 8.66022109e-01],
       [9.13270773e-01, 8.67292266e-02],
       [8.98688075e-01, 1.01311925e-01],
       [9.08346780e-01, 9.16532201e-02],
       [9.66903243e-01, 3.30967566e-02],
       [9.18369960e-01, 8.16300405e-02],
       [9.84992723e-01, 1.50072770e-02],
       [9.44407059e-01, 5.55929407e-02],
       [9.68630889e-01, 3.13691107e-02],
       [9.61478606e-01, 3.85213940e-02],
       [9.62099905e-01, 3.79000951e-02],
       [9.99789155e-01, 2.10845087e-04],
       [9.99807793e-01, 1.92207095e-04],
       [9.37524424e-01, 6.24755758e-02],
       [9.51001139e-01, 4.89988615e-02],
       [9.80247166e-01, 1.97528342e-02],
       [9.99790569e-01, 2.09431285e-04],
       [9.74148979e-01, 2.58510206e-02],
       [9.35743699e-01, 6.42563014e-02],
       [9.99578613e-01, 4.21386715e-04],
       [9.19056680e-01, 8.09433201e-02],
       [9.04437433e-01, 9.55625668e-02],
       [8.80301214e-01, 1.19698786e-01],
       [9.95332037e-01, 4.66796334e-03],
       [2.19773750e-01, 7.80226250e-01],
       [9.88773839e-01, 1.12261612e-02],
       [9.84501457e-01, 1.54985429e-02],
       [9.58786500e-01, 4.12135000e-02],
       [9.57289970e-01, 4.27100298e-02],
       [9.84787107e-01, 1.52128928e-02],
       [9.99971029e-01, 2.89708755e-05],
       [9.77771985e-01, 2.22280146e-02],
       [9.71376665e-01, 2.86233353e-02],
       [9.99981456e-01, 1.85442826e-05],
       [9.61189646e-01, 3.88103538e-02],
       [9.98083264e-01, 1.91673592e-03],
       [9.67785699e-01, 3.22143013e-02],
       [9.90791690e-01, 9.20831022e-03],
       [9.99908359e-01, 9.16408993e-05],
       [9.95543619e-01, 4.45638121e-03],
       [2.64927618e-02, 9.73507238e-01],
       [7.45113525e-01, 2.54886475e-01],
       [9.29372338e-01, 7.06276622e-02],
       [9.44363719e-01, 5.56362813e-02],
       [9.38647224e-01, 6.13527760e-02],
       [9.67203487e-01, 3.27965130e-02],
       [9.61808964e-01, 3.81910359e-02],
       [9.55635299e-01, 4.43647012e-02],
       [9.62047871e-01, 3.79521288e-02],
       [9.68580084e-01, 3.14199164e-02],
       [9.63583677e-01, 3.64163229e-02],
       [9.63348179e-01, 3.66518213e-02],
       [9.99989312e-01, 1.06882987e-05],
       [9.53327652e-01, 4.66723477e-02],
       [9.75016933e-01, 2.49830666e-02],
       [9.79978058e-01, 2.00219420e-02],
       [9.99947166e-01, 5.28335767e-05],
       [9.86798764e-01, 1.32012361e-02],
       [9.99185327e-01, 8.14672603e-04],
       [9.99981688e-01, 1.83118225e-05],
       [9.08955638e-01, 9.10443622e-02],
       [9.87544748e-01, 1.24552524e-02],
       [9.68168316e-01, 3.18316836e-02],
       [9.99985339e-01, 1.46614917e-05],
       [9.63828072e-01, 3.61719279e-02],
       [9.63623367e-01, 3.63766330e-02],
       [8.09885089e-01, 1.90114911e-01],
       [9.99963757e-01, 3.62433551e-05],
       [9.91847051e-03, 9.90081529e-01],
       [9.89860902e-01, 1.01390984e-02],
       [9.62322243e-01, 3.76777571e-02],
       [7.52893323e-01, 2.47106677e-01],
       [9.65232974e-01, 3.47670257e-02],
       [9.86668167e-01, 1.33318334e-02],
       [9.95697234e-01, 4.30276553e-03],
       [9.83855302e-01, 1.61446977e-02],
       [9.81133223e-01, 1.88667772e-02],
       [9.65833424e-01, 3.41665763e-02],
       [9.77226720e-01, 2.27732802e-02],
       [9.99967005e-01, 3.29947560e-05],
       [8.20916119e-01, 1.79083881e-01],
       [9.11450054e-01, 8.85499465e-02],
       [9.51567577e-01, 4.84324233e-02],
       [9.31320458e-01, 6.86795419e-02],
       [9.52413216e-01, 4.75867843e-02],
       [9.64629480e-01, 3.53705196e-02],
       [9.82481538e-01, 1.75184618e-02],
       [9.96396426e-01, 3.60357432e-03],
       [9.54869554e-01, 4.51304458e-02],
       [9.48846003e-01, 5.11539970e-02],
       [9.99118053e-01, 8.81947068e-04],
       [9.49598973e-01, 5.04010269e-02],
       [9.99318918e-01, 6.81081918e-04],
       [9.64001795e-01, 3.59982050e-02],
       [9.48195267e-01, 5.18047331e-02],
       [9.46178890e-01, 5.38211096e-02],
       [9.98889653e-01, 1.11034660e-03],
       [9.79221266e-01, 2.07787345e-02],
       [9.60747223e-01, 3.92527766e-02],
       [9.97188732e-01, 2.81126815e-03],
       [8.91862760e-01, 1.08137240e-01],
       [4.62731804e-02, 9.53726820e-01],
       [9.26475450e-01, 7.35245504e-02],
       [9.17356891e-01, 8.26431086e-02],
       [9.68563837e-01, 3.14361633e-02],
       [9.99690713e-01, 3.09286533e-04],
       [9.68566827e-01, 3.14331733e-02],
       [9.75387793e-01, 2.46122067e-02],
       [9.72297773e-01, 2.77022267e-02],
       [9.99990308e-01, 9.69164000e-06],
       [9.80688301e-01, 1.93116993e-02],
       [9.99856993e-01, 1.43006553e-04],
       [9.86977261e-01, 1.30227387e-02],
       [9.71447370e-01, 2.85526296e-02],
       [9.63533454e-01, 3.64665455e-02],
       [9.32916367e-01, 6.70836326e-02],
       [9.57812045e-01, 4.21879546e-02],
       [9.83340847e-01, 1.66591532e-02],
       [9.74533503e-01, 2.54664970e-02],
       [9.87253980e-01, 1.27460202e-02],
       [8.91942477e-01, 1.08057523e-01],
       [8.71741856e-01, 1.28258144e-01],
       [1.79308718e-02, 9.82069128e-01],
       [9.57954407e-01, 4.20455932e-02],
       [9.64727030e-01, 3.52729698e-02],
       [9.65907221e-01, 3.40927787e-02],
       [9.99992776e-01, 7.22409633e-06],
       [9.70194343e-01, 2.98056575e-02],
       [9.75299396e-01, 2.47006036e-02],
       [9.62405663e-01, 3.75943367e-02],
       [9.62642993e-01, 3.73570066e-02],
       [9.99903964e-01, 9.60355234e-05],
       [9.79565479e-01, 2.04345209e-02],
       [9.64847150e-01, 3.51528497e-02],
       [6.60453431e-01, 3.39546569e-01],
       [9.97059083e-01, 2.94091745e-03],
       [9.87603590e-01, 1.23964105e-02],
       [9.99979240e-01, 2.07596526e-05],
       [9.80946714e-01, 1.90532856e-02],
       [9.86654956e-01, 1.33450440e-02],
       [9.30788218e-01, 6.92117821e-02],
       [9.04590233e-01, 9.54097669e-02],
       [9.25613234e-01, 7.43867660e-02],
       [5.18786083e-01, 4.81213917e-01],
       [9.84990633e-01, 1.50093670e-02],
       [9.29827120e-01, 7.01728802e-02],
       [9.26207924e-01, 7.37920761e-02],
       [9.27625113e-01, 7.23748874e-02],
       [9.32589916e-01, 6.74100836e-02],
       [9.57863549e-01, 4.21364507e-02],
       [9.98881833e-01, 1.11816678e-03],
       [9.28308752e-01, 7.16912479e-02],
       [9.99821492e-01, 1.78508440e-04],
       [9.32478255e-01, 6.75217450e-02],
       [9.26441569e-01, 7.35584308e-02],
       [9.70880130e-01, 2.91198701e-02],
       [9.99787743e-01, 2.12256956e-04],
       [9.78614201e-01, 2.13857995e-02],
       [9.98960560e-01, 1.03943998e-03],
       [9.56062569e-01, 4.39374311e-02],
       [5.37839962e-07, 9.99999462e-01],
       [3.86227481e-01, 6.13772519e-01],
       [6.85711299e-01, 3.14288701e-01],
       [9.93005717e-01, 6.99428276e-03],
       [4.46991755e-01, 5.53008245e-01],
       [9.72102477e-01, 2.78975225e-02],
       [9.99997322e-01, 2.67804753e-06],
       [9.87621242e-01, 1.23787585e-02],
       [9.99999709e-01, 2.91368966e-07],
       [9.82578519e-01, 1.74214810e-02],
       [9.99999900e-01, 1.00000010e-07],
       [9.99413305e-01, 5.86695264e-04],
       [9.99974873e-01, 2.51273027e-05],
       [9.98920442e-01, 1.07955814e-03],
       [9.95691297e-01, 4.30870273e-03],
       [9.99988722e-01, 1.12775835e-05],
       [9.94547560e-01, 5.45243975e-03],
       [9.99130942e-01, 8.69057503e-04],
       [9.95410259e-01, 4.58974102e-03],
       [9.98477442e-01, 1.52255787e-03],
       [9.67548639e-01, 3.24513607e-02],
       [8.67077825e-01, 1.32922175e-01],
       [7.69556381e-01, 2.30443619e-01],
       [9.28886029e-01, 7.11139713e-02],
       [9.27176674e-01, 7.28233262e-02],
       [9.72664098e-01, 2.73359018e-02],
       [9.57199550e-01, 4.28004501e-02],
       [9.99481268e-01, 5.18732302e-04],
       [9.99639514e-01, 3.60485873e-04],
       [9.44715676e-01, 5.52843241e-02],
       [9.56777817e-01, 4.32221834e-02],
       [9.83624058e-01, 1.63759419e-02],
       [9.96989545e-01, 3.01045500e-03],
       [9.80418372e-01, 1.95816279e-02],
       [9.99377396e-01, 6.22603714e-04],
       [9.42994128e-01, 5.70058717e-02],
       [9.47302875e-01, 5.26971249e-02],
       [9.69215866e-01, 3.07841345e-02],
       [9.42409497e-01, 5.75905027e-02],
       [9.43041617e-01, 5.69583829e-02],
       [1.39079330e-02, 9.86092067e-01],
       [9.42766069e-01, 5.72339308e-02],
       [9.41059026e-01, 5.89409742e-02],
       [8.71501266e-01, 1.28498734e-01],
       [9.57407389e-01, 4.25926112e-02],
       [9.46102735e-01, 5.38972653e-02],
       [9.99972234e-01, 2.77655619e-05],
       [9.90159009e-01, 9.84099086e-03],
       [9.78760954e-01, 2.12390459e-02],
       [9.81201799e-01, 1.87982013e-02],
       [9.79634875e-01, 2.03651249e-02],
       [9.99987054e-01, 1.29459385e-05],
       [9.79700744e-01, 2.02992564e-02],
       [9.82299376e-01, 1.77006237e-02],
       [9.99988246e-01, 1.17540930e-05],
       [9.77955731e-01, 2.20442695e-02],
       [9.99827039e-01, 1.72961046e-04],
       [9.97606434e-01, 2.39356647e-03],
       [9.96700482e-01, 3.29951789e-03],
       [9.89300936e-01, 1.06990640e-02],
       [6.45868318e-01, 3.54131682e-01],
       [7.37204610e-01, 2.62795390e-01],
       [8.90417188e-01, 1.09582812e-01],
       [9.10039916e-01, 8.99600843e-02],
       [9.29557584e-01, 7.04424157e-02],
       [9.46262264e-01, 5.37377357e-02],
       [9.40264698e-01, 5.97353024e-02],
       [9.76718447e-01, 2.32815528e-02],
       [9.68561172e-01, 3.14388276e-02],
       [9.88991549e-01, 1.10084509e-02],
       [9.98326404e-01, 1.67359582e-03],
       [9.59932249e-01, 4.00677513e-02],
       [9.99994823e-01, 5.17714962e-06],
       [9.86077023e-01, 1.39229770e-02],
       [9.99985010e-01, 1.49901549e-05],
       [9.81397086e-01, 1.86029142e-02],
       [9.30085182e-01, 6.99148178e-02],
       [9.99997593e-01, 2.40650473e-06],
       [9.97670726e-01, 2.32927441e-03],
       [9.95692345e-01, 4.30765480e-03],
       [8.99849691e-01, 1.00150309e-01],
       [9.30598098e-01, 6.94019020e-02],
       [8.92912499e-01, 1.07087501e-01],
       [9.61367115e-01, 3.86328854e-02],
       [9.61112504e-01, 3.88874959e-02],
       [9.28548950e-01, 7.14510505e-02],
       [7.14893116e-01, 2.85106884e-01],
       [9.25194358e-01, 7.48056416e-02],
       [9.99788605e-01, 2.11394876e-04],
       [9.11319279e-01, 8.86807212e-02],
       [9.99635170e-01, 3.64830362e-04],
       [8.98108619e-01, 1.01891381e-01],
       [9.87289945e-01, 1.27100550e-02],
       [9.30002180e-01, 6.99978195e-02],
       [9.23751849e-01, 7.62481509e-02],
       [9.64253349e-01, 3.57466511e-02],
       [9.64453674e-01, 3.55463259e-02],
       [9.39493967e-01, 6.05060328e-02],
       [9.99442225e-01, 5.57775113e-04],
       [9.96761216e-01, 3.23878360e-03],
       [2.74187390e-01, 7.25812610e-01],
       [9.02221359e-01, 9.77786407e-02],
       [9.11788365e-01, 8.82116353e-02],
       [9.93791730e-01, 6.20827001e-03],
       [9.38987045e-01, 6.10129554e-02],
       [9.23912130e-01, 7.60878696e-02],
       [9.99626574e-01, 3.73426148e-04],
       [9.63383073e-01, 3.66169273e-02],
       [9.46164189e-01, 5.38358109e-02],
       [9.57562473e-01, 4.24375265e-02],
       [9.62883136e-01, 3.71168642e-02],
       [9.57331495e-01, 4.26685046e-02],
       [9.85153278e-01, 1.48467221e-02],
       [9.99613743e-01, 3.86257415e-04],
       [9.98681588e-01, 1.31841162e-03],
       [9.76149426e-01, 2.38505741e-02],
       [9.40723038e-01, 5.92769623e-02],
       [9.51261305e-01, 4.87386946e-02],
       [9.67661330e-01, 3.23386699e-02],
       [9.99747611e-01, 2.52389130e-04]])

In [35]:
pred_df=pd.DataFrame(predictions,columns=['p0','p1'])

In [36]:
test = pd.merge(df_test.reset_index().drop(columns=['index']),pred_df,left_index=True,right_index=True)
# test = pd.merge(test,circuitId_df,left_index=True,right_index=True)
test

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,podium,p0,p1
0,822,131,2,1,2019,1,0,0,0,0,0,1.0,0.0,0.0,1,0.987444,0.012556
1,1,131,1,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,2,0.759045,0.240955
2,830,9,4,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,3,0.923858,0.076142
3,20,6,3,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0,0.939133,0.060867
4,844,6,5,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0,0.922453,0.077547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,841,51,16,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.976149,0.023851
416,847,3,18,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.940723,0.059277
417,842,5,11,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.951261,0.048739
418,9,3,19,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.967661,0.032339
419,840,211,12,0,2019,24,1,0,0,0,0,0.0,0.0,1.0,0,0.999748,0.000252

In [37]:
max_prob = test.groupby(['circuitId']).agg({'p1':'max'})
test = pd.merge(test, max_prob, how='left', on=['circuitId'])
# test = pd.merge(test, podium_df, right_index=True,left_index=True)
test

,driverId,constructorId,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,podium,p0,p1_x,p1_y
0,822,131,2,1,2019,1,0,0,0,0,0,1.0,0.0,0.0,1,0.987444,0.012556,0.240955
1,1,131,1,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,2,0.759045,0.240955,0.240955
2,830,9,4,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,3,0.923858,0.076142,0.240955
3,20,6,3,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0,0.939133,0.060867,0.240955
4,844,6,5,0,2019,1,0,0,0,0,0,1.0,0.0,0.0,0,0.922453,0.077547,0.240955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,841,51,16,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.976149,0.023851,0.725813
416,847,3,18,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.940723,0.059277,0.725813
417,842,5,11,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.951261,0.048739,0.725813
418,9,3,19,0,2019,24,1,0,0,0,0,0.0,1.0,0.0,0,0.967661,0.032339,0.725813
419,840,211,12,0,2019,24,1,0,0,0,0,0.0,0.0,1.0,0,0.999748,0.000252,0.725813

In [38]:
flag = []
for index, row in test.iterrows():
    if row['p1_x'] == row['p1_y']:
        if row['podium'] in [1]:
            flag.append(1)
        else:
            flag.append(0)
    else:
        flag.append(0)
        
test['flag'] = flag
test['flag'].sum()

12

In [39]:
flag = []
for index, row in test.iterrows():
    if row['p1_x'] == row['p1_y']:
        if row['podium'] in [1,2,3]:
            flag.append(1)
        else:
            flag.append(0)
    else:
        flag.append(0)
        
test['flag'] = flag
test['flag'].sum()

17