In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Read all four output files

classifier = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2017/cl_output_2017.csv'))
classifier = classifier.drop(['Unnamed: 0'], axis=1)

svm = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2017/svm_output_2017.csv'))
svm = svm.drop(['Unnamed: 0'], axis=1)

rnf = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2017/rnf_output_2017.csv'))
rnf = rnf.drop(['Unnamed: 0'], axis=1)

nn = pd.read_csv(Path('../../../Resources/PythonExport/ML_Export/2017/nn_output_2017.csv'))
nn = nn.drop(['Unnamed: 0'], axis=1)

In [3]:
# Merge all 4 files on result ID
output_2017 = pd.merge(classifier, svm, how='left', on=['resultId'])

In [4]:
output_2017 = pd.merge(output_2017, rnf, how='left', on=['resultId'])

In [5]:
output_2017 = pd.merge(output_2017, nn, how='left', on=['resultId'])
output_2017.head()

,resultId,name,driverRef,constructorRef,Outcome,Bin,CL_Outcome,CL_Bin,SVM_Outcome,SVM_Bin,RNF_Outcome,RNF_Bin,NN_Outcome,NN_Bin
0,23379,Australian Grand Prix,vettel,ferrari,1,1,2,1,3,1,1,1,2,1
1,23380,Australian Grand Prix,hamilton,mercedes,2,1,1,1,1,1,4,2,1,1
2,23381,Australian Grand Prix,bottas,mercedes,3,1,5,2,19,4,2,1,6,2
3,23382,Australian Grand Prix,raikkonen,ferrari,4,2,4,2,4,2,6,2,4,2
4,23383,Australian Grand Prix,max_verstappen,red_bull,5,2,8,3,12,4,3,1,5,2

In [6]:
# Extract CSV file
output_2017.to_csv('../../../Resources/PythonExport/ML_Export/2017/output_2017.csv')